.directory
.vscode

premake*
VersionInfo*
_*

*.exe
*.yml
*.zip
*.pdb
*.exp
*.lib
*.sln
*.aps

tincat*.dll
tincat*.h

data/*.dll
data/d3d9vk*

*.vcxproj*
*.code-workspace

.vs/
.idea/
build/

Makefile
